@charset "UTF-8";
/* Tipografías */
/* TIPOGRAFÍA WEB */
/* Oswald títulos*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
/* Josefin Sans párrafos*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap");
/* Oooh Baby */
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0; }

/* Pages */
/* Header */
header {
  position: sticky;
  top: 0;
  background-color: #FEF6F6;
  z-index: 100; }

/* Navegación */
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 0; }

.header ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none; }

.nav li {
  margin: 0 20px; }

.nav a {
  color: black;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400; }

.nav a:hover {
  color: #D6B495; }

.nav a:active {
  color: #D6B495; }

.navbar {
  display: none; }

/* Media Queries */
@media (max-width: 800px) {
  .header {
    display: none; }
  .navbar {
    display: block;
    background-color: #FEF6F6 !important; }
  .nav-link {
    color: black;
    font-family: 'Josefin Sans', sans-serif; } }

/* Contenido principal Inicio */
#body-index {
  background-color: #FEF6F6; }

#main-index {
  background-color: #FEF6F6; }

#main-index .hero {
  display: flex;
  justify-content: center;
  padding-top: 175px; }

#main-index .text-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  max-width: 450px; }

#main-index .hero-title {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 66px;
  display: block; }

#main-index .hero-text {
  color: #000000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: block; }

#main-index .hero-button {
  display: flex;
  height: 48px;
  padding: 26px 36px;
  align-items: center;
  gap: 8px;
  border-radius: 36.55px;
  border-color: #D6B495;
  background: #D6B495;
  color: #FFF;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  border-style: none; }

/* Sección textura */
#main-index .textura {
  background-image: url(../resources/img/background-textura.png);
  width: 100%;
  height: 800px;
  margin-top: 77px;
  display: flex;
  align-items: center;
  justify-content: center; }

#main-index .textura-text {
  color: #FFF;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  width: 680px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25); }

/* Sección marcas */
#main-index .marcas {
  background-color: #FEF6F6;
  margin: 77px 0 96px 0; }

#main-index .marcas__titulo {
  color: #000;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  padding-bottom: 64px; }

#main-index .marcas__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px; }

#main-index .marcas__img-fila1 {
  display: flex;
  align-items: center;
  gap: 135px; }

#main-index .marcas__img-fila2 {
  display: flex;
  align-items: center;
  gap: 150px; }

/* Sección Nuestras creaciones */
#main-index .creaciones {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#main-index .creaciones__text {
  max-width: 614px; }

#main-index .creaciones__titulo {
  color: #000;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
  padding-bottom: 24px; }

#main-index .creaciones__parrafo {
  color: #000;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 64px; }

#main-index .creaciones__img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
  max-width: 100%; }

#main-index .creaciones__img img {
  max-width: 100%;
  height: auto; }

/* Contenido principal Menú */
#body-menu {
  background-color: #FEF6F6; }

.main-menu__img-sabores {
  display: flex;
  justify-content: center;
  margin: 77px 0; }

.main-menu__sabores h1 {
  color: #000;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 66px;
  padding-bottom: 96px; }

.main-menu__sabores h2 {
  color: #000;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 12px; }

.main-menu__sabores p {
  color: #000;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 64px;
  max-width: 574px;
  margin: auto; }

.main-menu__img-cajas {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 77px; }

.main-menu__cajas h1 {
  color: #000;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 66px;
  padding-bottom: 96px; }

.main-menu__cajas p {
  color: #000;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 64px; }

/* Media Queries */
@media (max-width: 800px) {
  .main-menu__img-sabores {
    height: 120px; }
  .main-menu__img-cajas {
    height: 120px; } }

/* Media Queries */
@media (max-width: 480px) {
  .main-menu__img-sabores {
    height: 90px; }
  .main-menu__sabores h2 {
    font-size: 20px;
    padding-bottom: 12px; }
  .main-menu__sabores p {
    font-size: 18px;
    max-width: 400px; }
  .main-menu__img-cajas {
    height: 80px; }
  .main-menu__cajas p {
    font-size: 18px;
    padding-bottom: 30px; } }

/* Contenido principal Pedidos especiales */
#body-especiales {
  background-color: #FEF6F6; }

#main-especiales .img-especiales {
  display: flex;
  justify-content: center;
  margin: 77px 0; }

#main-especiales .img-especiales div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-right: -60px; }

#main-especiales .img-especiales h3 {
  color: #000;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px; }

#main-especiales .img-especiales h3 {
  display: flex; }

#main-especiales h1 {
  color: #000;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
  padding-bottom: 154px; }

#main-especiales .especiales {
  display: flex;
  align-items: center;
  align-items: flex-start;
  gap: 50px;
  margin-bottom: 96px;
  justify-content: center; }

#main-especiales div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px; }

#main-especiales .title {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 66px;
  margin-bottom: 96px; }

#main-especiales .text {
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 574px; }

/* Contenido principal Sobre mí */
#body-sobre-mi {
  background-color: #FEF6F6; }

#main-sobremi h2 {
  color: #D6B495;
  text-align: center;
  font-family: Oooh Baby;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 189px;
  margin: auto;
  padding: 77px 0; }

#main-sobremi h1 {
  color: #000;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 154px;
  max-width: 1149px;
  margin: auto; }

#main-sobremi .img-agus {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  max-width: 100%;
  margin: 30px auto;
  justify-items: center; }

#main-sobremi .img-agus img {
  margin: 0;
  max-width: 350px; }

/* Media Queries */
@media (max-width: 800px) {
  #main-sobremi h1 {
    font-size: 54px;
    max-width: 750px; }
  #main-sobremi .img-agus img {
    max-width: 200px; } }

/* Media Queries */
@media (max-width: 480px) {
  #main-sobremi h2 {
    font-size: 44px; }
  #main-sobremi h1 {
    font-size: 36px;
    max-width: 420px;
    padding-bottom: 80px; }
  #main-sobremi .img-agus img {
    max-width: 110px; } }

/* Contenido principal Contacto */
#body-contacto {
  background-color: #FEF6F6; }

#main-contacto .form {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  gap: 118px;
  margin-top: 77px; }

#main-contacto .form .left {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px; }

#main-contacto .form .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px; }

#main-contacto form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px; }

#main-contacto .enviar {
  margin-top: 47px; }

#main-contacto .form h2 {
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.8px; }

#main-contacto .form h1 {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 500; }

#main-contacto .form p {
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 8px;
  max-width: 432px; }

#main-contacto .email .whatsapp {
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; }

#main-contacto .form label {
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  display: block; }

#main-contacto .form input {
  color: #AAA;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  display: block;
  width: 506px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 50px;
  border-color: #F6F6F6;
  background: #ffffff;
  border-style: none;
  padding: 0 24px; }

#main-contacto .large {
  display: flex;
  width: 506px;
  padding: 24px 24px 100px 24px;
  align-items: flex-start; }

#main-contacto .form .enviar {
  display: flex;
  height: 48px;
  width: 125px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 36.55px;
  background: #D6B495;
  color: #FFF;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; }

#main-contacto .form .img {
  max-width: 50%;
  align-self: flex-start; }

#main-contacto .mapa h1 {
  color: #000;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  margin-top: 77px;
  margin-bottom: 96px; }

#main-contacto .mapa .google-maps {
  display: flex;
  align-items: flex-start;
  gap: 412px;
  justify-content: center; }

#main-contacto .mapa .punto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px; }

#main-contacto .mapa .punto p {
  color: #000;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  padding-left: 40px; }

/* Contenido principal Preguntas frecuentes */
#body-faqs {
  background-color: #FEF6F6; }

#main-faqs .title-faqs {
  display: flex;
  flex-direction: column;
  align-items: center; }

#main-faqs .title-faqs h1 {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 66px;
  margin-top: 77px;
  margin-bottom: 16px; }

#main-faqs h2 {
  color: #7B7B7B;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  padding-top: 118px; }

.accordion {
  --bs-accordion-btn-bg: #FEF6F6;
  --bs-accordion-active-bg: #FEF6F6;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-bg: #FEF6F6; }

/* Media Queries */
@media (max-width: 800px) {
  #main-faqs .title-faqs h1 {
    font-size: 50px; }
  /* Media Queries */ }

@media (max-width: 800px) and (max-width: 480px) {
  #main-faqs .title-faqs h1 {
    font-size: 40px; } }

/* Pie de página */
.footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 284px;
  margin-top: 128px; }

.footer__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 60px; }

.footer__nav {
  height: 72px;
  align-items: flex-start; }

.footer__nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none; }

.footer__nav li {
  margin: 0 20px; }

.footer__nav a {
  color: #FFF;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  text-decoration: none; }

.footer__nav a:hover {
  font-weight: 400; }

.footer__icons a {
  text-decoration: none; }

.footer .copyright {
  color: #FFF;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  margin-top: 80px; }

/* Media Queries */
@media (max-width: 800px) {
  .footer {
    height: 100%;
    margin-top: 80px;
    padding-bottom: 30px; }
  .footer__logo {
    height: 38px; }
  .footer__nav {
    height: 25px; }
  .footer__nav a {
    font-size: 16px; } }

@media (max-width: 740px) {
  .footer {
    margin-top: 60px;
    height: 100%;
    display: flex;
    flex-direction: column; }
  .footer__links {
    flex-direction: column;
    text-align: left;
    padding-top: 40px; }
  .footer__logo {
    padding-bottom: 20px;
    height: 38px; }
  .footer__nav {
    margin-top: 10px; }
  .footer__nav li {
    margin: 10px 0; }
  .footer__nav a {
    font-size: 16px; }
  .footer__nav ul {
    flex-direction: column;
    align-items: center; }
  .footer__icons {
    margin-top: 10px; } }

/* Media Queries */
@media (max-width: 480px) {
  .footer {
    margin-top: 60px;
    height: 100%; }
  .footer__links {
    flex-direction: column;
    text-align: left;
    padding-top: 40px; }
  .footer__logo {
    padding-bottom: 20px;
    height: 38px; }
  .footer__nav {
    margin-top: 10px; }
  .footer__nav li {
    margin: 10px 0; }
  .footer__nav a {
    font-size: 16px; }
  .footer__nav ul {
    flex-direction: column;
    align-items: center; }
  .footer__icons {
    margin-top: 10px; } }

/* Media Queries */
