/* Contenido principal Preguntas frecuentes */
#body-faqs {
    background-color: $fondo;
}

#main-faqs .accordion {
    --bs-accordion-btn-bg: $fondo;
    --bs-accordion-active-bg: $fondo;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-bg: $fondo;
}

.accordion-item h2 {
    color: #7B7B7B;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    padding-top: 118px;
}

.espaciado{
    width: 100%;
    height: 150px;
}

.title-faqs {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: #000;
        font-family: 'Oswald', sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 500;
        line-height: 66px;
        margin-top: 200px;
        margin-bottom: 16px;
    }
}

/* Media Queries */
@media (max-width: 800px) {
    #main-faqs .title-faqs h1 {
        font-size: 50px;
    }
}

@media (max-width: 480px) {
    #main-faqs .title-faqs h1 {
        font-size: 40px;
    }
}