.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: auto;
    background-color: #000000;
    padding: 60px 10%;
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    .footer-col{
        position: relative;
        margin-bottom: 30px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 22px;
        color: white;
    }
    .footer-col h4{
    color: #D6B495;
    }
    .footer-col h4 ::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        height: 2px;
        width: 40px;
        font-family: 'Josefin Sans', sans-serif;
    }
    ul li{
        font-weight: 300;
    }
    ul li:not(:last-child){
        margin-bottom: 8px;
    }
    ul li a{
        display: block;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 19px;
        color: #FFF;
        text-decoration: none;
        transition: 0.4s;
    }
    ul li a:hover{
        color: #D6B495;
        padding-left: 2 px;
    }
    
    .copyright {
        color: #FFF;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 200;
        margin-top: 80px;
        margin: auto;
    }
}

@media (max-width: 740px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }
    .footer-col h4 ::before{
        all: unset;
    }
}

@media (max-width: 555px){
    .footer-col{
        width: 100%;
    }
}