/* Contenido principal Inicio */
#body-index {
    background-color: $fondo;
}

#main-index {
    background-color: $fondo;
}

#main-index .hero {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    flex-wrap: wrap;
}

#main-index .text-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    max-width: 450px;
}

#main-index .hero-title {
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 66px;
    display: block;

}

#main-index .hero-text {
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: block;
    max-width: 400px;
}

#main-index .hero-button {
    display: flex;
    height: 48px;
    padding: 26px 36px;
    align-items: center;
    gap: 8px;
    border-radius: 36.55px;
    border-color: $acento;
    background: $acento;
    color: #FFF;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    border-style: none;
    transition: box-shadow 0.2s ease-in-out;
}

.hero-button:hover{
    box-shadow: 0 0 40px 40px $hover inset;
}

/* Sección textura */
#main-index .textura {
    background-image: url(../resources/img/background-textura.png);
    width: 100%;
    height: auto;
    margin-top: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-index .textura-text {
    color: #FFF;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    width: 680px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    padding: 100px 0;
}

/* Sección marcas */
#main-index .marcas {
    background-color: $fondo;
    margin: 77px 0 96px 0;
    margin-top: 0px;
}

#main-index .marcas__titulo {
    color: #000;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    padding-bottom: 64px;
}

#main-index .marcas__img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10%;
    img {
        height: 50px;
    }
    .smaller{
        height: 30px;
    }
}

/* Sección Nuestras creaciones */
#main-index .creaciones__img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    max-width: 100%;
}

#main-index .creaciones__img img {
    max-width: 100%;
    height: 100%;
}

@media (max-width: 768px){
    #main-index .hero-title{
        max-width: 325px;
    }
    #main-index .hero-text{
        max-width: 325px;
    }
    #main-index .hero-img{
        height: 380px;
    }
}

@media (max-width: 425px){
    #main-index .hero-button{
        height: 48px;
        margin-bottom: 56px;
    }
    #main-index .textura-text{
        font-size: 28px;
        width: 345px;
    }
    #main-index .marcas__titulo{
        font-size: 30px;
    }
    #main-index .marcas__img {
        margin: 0 -5px;
        img {
            height: 35px;
        }
        .smaller{
            height: 15px;
        }
    }
}

